<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Zhixing\Blacklist\Api\MappingInterface" type="Zhixing\Blacklist\Model\Api\Mapping"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mapping_listing_data_source" xsi:type="string">Zhixing\Blacklist\Model\ResourceModel\Mapping\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Zhixing\Blacklist\Model\ResourceModel\Mapping\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">zhixing_core_mapping</argument>
            <argument name="eventPrefix" xsi:type="string">zhixing_core_mapping</argument>
            <argument name="eventObject" xsi:type="string">mapping_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Zhixing\Blacklist\Model\ResourceModel\Mapping</argument>
        </arguments>
    </type>
    <virtualType name="MappingGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="zhixing_blacklist_update_from_customer_collection_cron"
                      xsi:type="object">Zhixing\Blacklist\Console\Command\UpdateBlacklistCronCommand</item>
            </argument>
        </arguments>
    </type>
</config>
